.ow-chat-dialogue-feed
{
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-y: auto;
	min-height: 0;

	.ow-chat-message-bubble
	{
		display: flex;

		.message-content
		{
			padding: 10px;
			border-radius: 10px;
			border: 1px solid var(--prompt-border-color);
			box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
			font-size: var(--font-ui-small);
		}

		&.assistant
		{
			justify-content: start;

			.message-content
			{
				max-width: 100%;
				background-color: var(--interactive-normal);
			}
		}
	
		&.user
		{
			justify-content: end;

			.message-content
			{
				max-width: 85%;
				background-color: var(--interactive-accent);
			}
		}
	}
}
