.ow-chat-user-input 
{
	position: relative;
	display: flex;
	flex-direction: row;
	flex: 0 0 auto;
	gap: 10px;
	overflow: visible;

	.ow-user-actions 
	{
		flex: 0 0 40px; 
		display: flex;
		flex-direction: column;
		height: 100%;
		position: relative;
		z-index: 1;
	}
	
	.ow-btn.create-new-chat 
	{
		all: unset;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		background-color: var(--interactive-accent);
		box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
		margin-top: auto;
	}
	
	.ow-chat-user-input-form-wrapper
	{
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		flex: 1; /* Allow it to grow and shrink */
		background-color: var(--interactive-normal);
		border: 1px solid var(--prompt-border-color);
		box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;	
		border-radius: 20px;
		padding: 14px;
		overflow: hidden;

		form
		{
			display: flex;

			textarea
			{
				all: unset;
				width: 100%;
				resize: none;
				font-size: var(--font-ui-small);
				white-space: pre-wrap;
				overflow-wrap: break-word;
			}

			.ow-btn.submit
			{
				all: unset;
				align-self: flex-start;
			}
		}

		.ow-inline-input-utilities
		{
			display: flex;
			justify-content: space-between;

			.ow-btn.pin-input
			{
				all: unset;

				svg
				{
					transform: rotate(45deg);
				}
			}	
		}
	}	
}
