.tabs-manager 
{
	.chat-view
	{
		display: grid;
		grid-template-rows: auto 1fr auto;
		height: 100%;
		overflow-y: auto;

		.header
		{
			padding: var(--padding-sm) var(--padding-lg);
			background-color: var(--background-secondary);

			.tool-bar
			{
				display: grid;
				grid-template-columns: auto 1fr;
				gap: var(--grid-gap-sm);

				.btn-back
				{
					align-self: center;
					all: unset;
					display: grid;
					padding: var(--padding-xs);
					border-radius: 5px;
					
					&:hover
					{
						background-color: var(--background-modifier-hover);	
					}

					cursor: var(--cursor);
	
					svg
					{
						place-self: center;
						width: var(--svg-size-sm);
						height: var(--svg-size-sm);
						aspect-ratio: 1/1;
						color: var(--icon-color);
					}
				}

				.title
				{
					align-self: center;
					font-size: var(--padding-lg);
					font-weight: var(--font-medium);
					cursor: text;

					input
					{
						all: unset;
						width: 100%;
					}

					.conversation-title
					{
						display: grid;
						grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						// user-select: text;

						&.error-messaje
						{
							color: var(--color-red);
						}
					}
				}

			}
		}

		.input-area
		{
			display: grid;
			grid-template-rows: auto 1fr;

			gap: var(--grid-gap-md);

			padding: var(--padding-xs) var(--padding-lg);
			padding-bottom: 37px;

			.tool-bar
			{
				display: grid;

				.btn-stop
				{

					all: unset;
					display: grid;
					grid-template-columns: auto 1fr;
					gap: var(--grid-gap-sm);
					justify-self: end;
					cursor: var(--cursor);
					background-color: var(--btn-stop-color);
					border: 1px solid var(--prompt-border-color);
					box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
					padding: var(--padding-xs);
					border-radius: 5px;
					color: var(--icon-color);
					font-size: var(--font-size-xs);

					svg
					{
						place-self: center;
						width: var(--svg-size-xs);
						height: var(--svg-size-xs);
						color: var(--icon-color);
					}
				}
			}

			.input-form
			{
				display: grid;
				grid-template-columns: auto 1fr;
				gap: var(--grid-gap-md);

				.btn-new-chat
				{
					all: unset;
					display: grid;
					align-self: end !important;
					height: 40px;
					width: 40px;
					border-radius: 50%;
					background-color: hsla(var(--interactive-accent-hsl), 0.55);
					box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
					color: #ffffff;
					cursor: var(--cursor);

					&:hover
					{
						background-color: hsla(var(--interactive-accent-hsl), .75);
					}

					svg
					{
						place-self: center;
						width:  var(--svg-size-md);
						height: var(--svg-size-md);
						aspect-ratio: 1/1;
					}

					grid-column: 1;
					grid-row: 1;
					z-index: 1;
				}

				.chat-box
				{
					display: grid;
					grid-template-rows: 1fr auto;
					gap: 2.5px;
					background-color: var(--chat-box-color);
					border: 1px solid var(--prompt-border-color);
					box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;	
					border-radius: 20px;
					padding: var(--padding-lg);

					&:hover
					{
						grid-column: 1 / 3;
						grid-row: 1;
						z-index: 99;
						height: 150px;
					}

					&.pinned
					{
						height: 200px !important;
					}

					.input
					{
						display: grid;
						grid-template-columns: 1fr auto;

						textarea
						{
							all: unset;
							font-size: calc(var(--font-size-sm) + 1px);
							width: 100%;
							height: 100%;
							resize: none;
							white-space: pre-wrap; /* CSS3 */
							white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
							white-space: -pre-wrap; /* Opera 4-6 */
							white-space: -o-pre-wrap; /* Opera 7 */
							overflow-wrap: break-word; /* Apply line breaks at word boundaries */
							word-wrap: break-word; /* For older browsers */
						}
	
						.btn-submit
						{
							all: unset;
							align-self: start;
							cursor: var(--cursor);
	
							svg
							{
								width:  var(--svg-size-sm);
								height: var(--svg-size-sm);
								aspect-ratio: 1/1;
								color: var(--icon-color);
							}
						}
					}

					.info-bar
					{
						display: grid;
						grid-template-columns: auto 1fr auto;
						gap: 5px;

						span
						{
							color: var(--nav-item-color);
							font-size: var(--font-size-sm);
						}

						.pin-chat-box
						{
							all: unset;
							cursor: var(--cursor);
							display: grid;

							svg
							{
								place-self: center;
								transform: rotate(45deg);
								width:  var(--svg-size-sm);
								height: var(--svg-size-sm);
								aspect-ratio: 1/1;
								color: var(--icon-color);
								opacity: .5;
							}

							&:hover
							{
								svg
								{
									opacity: .75;
								}
							}

							&.pinned
							{
								svg
								{
									opacity: 1 !important;
								}
							}
						}
					}
				}
			}
		}
	}
}
