.ow-chat-dialogue-feed
{
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-y: auto;
	min-height: 0;

	.ow-chat-message-bubble
	{
		display: flex;
		gap: 5px;

		.ow-message
		{
			display: flex;
			width: 100%;

			.ow-message-content
			{
				padding: 10px;
				border-radius: 10px;
				border: 1px solid var(--prompt-border-color);
				box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
				font-size: var(--font-ui-small);
			}	
		}

		.ow-message-utility-bar
		{
			display: flex;
			gap: 5px;

			.ow-btn
			{
				all: unset;
				padding: 5px;
				border-radius: 5px;

				.ow-icon
				{
					svg
					{
						width: 16px;
						height: 16px;
					}
				}

				&:hover
				{
					background-color: var(--background-modifier-hover);
				}
			}

			.ow-branch-navigation
			{
				display: flex;
				align-items: center;
				gap: 5px;

				.ow-branch-index 
				{
					line-height: 26px;
					font-size: var(--font-ui-small);
					font-family: var(--font-monospace);
				}
			}

			.ow-user-actions
			{
				display: flex;
				gap: 5px;
				opacity: 0;
			}
		}

		&.assistant 
		{
			flex-direction: column;
			align-items: flex-start;

			.ow-message
			{

				.ow-message-content
				{
					display: flex;
					gap: 10px;
					max-width: 100%;
					background-color: var(--interactive-normal);
				}
			}

			.ow-message-utility-bar 
			{
				justify-content: flex-start;
				width: 100%;
			}

			&:hover
			{
				.ow-user-actions 
				{
					opacity: 1;
				}
			}
		}

		&.user 
		{
			flex-direction: column;
			align-items: flex-end;

			.ow-message
			{
				gap: 5px;
				flex-direction: row-reverse;
				align-items: start;

				.ow-user-actions
				{
					display: flex;
					gap: 5px;
					opacity: 0;
	
					.ow-btn.edit
					{
						all: unset;
						padding: 8px;
						border-radius: 50%;
	
						&:hover
						{
							background-color: var(--background-modifier-hover);
						}

						svg
						{
							stroke-width: 3;
							width: 12px;
							height: 12px;
						}
					}
				}

				.ow-message-content 
				{
					max-width: 85%;
					background-color: var(--interactive-accent);
					align-self: flex-end;
				}
			}

			.ow-message-utility-bar 
			{
				justify-content: flex-end;
			}

			&:hover
			{
				.ow-user-actions 
				{
					opacity: 1;
				}
			}
		}

		&.latest
		{
			padding-bottom: 5px;

			.ow-user-actions 
			{
				opacity: 1;
			}
		}
	}
}
