.ow-chat-dialogue-feed
{
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-y: auto;
	min-height: 0;

	.ow-chat-message-bubble
	{
		display: flex;
		gap: 5px;

		.ow-message
		{
			display: flex;
			width: 100%;

			.ow-message-content
			{
				user-select: text;
				padding: 10px;
				border-radius: 10px;
				border: 1px solid var(--prompt-border-color);
				box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
				font-size: var(--font-ui-small);

				.ow-rendered-content
				{
					p:first-child
					{
						margin-top: 0;
					}

					p:last-child
					{
						margin-bottom: 0;
					}
				}

				table 
				{
					width: 100%;
					border-collapse: separate;
					border-spacing: 0;
					border: 2px solid var(--prompt-border-color);
					border-radius: 10px;
					overflow: hidden;

					td, th 
					{
						padding: 10px;
						border: 1px solid var(--prompt-border-color);
						font-weight: bold;
						text-align: left;
					}
					
					th
					{
						background-color: rgba(151, 151, 151, 0.8);
					}

					td
					{
						background-color: rgba(151, 151, 151, 0.2);
					}
				}

				pre
				{
					margin: 0px;
					border-radius: 5px;
					position: relative;
		
					code
					{
						overflow-wrap: break-word;
						white-space: pre-wrap;
						tab-size: 4;
					}
		
					.copy-code-button
					{
						margin: 6px;
						padding: 6px 8px;
						height: auto;
						background-color: transparent;
						box-shadow: none;
						color: var(--text-muted);
						font-size: var(--font-ui-smaller);
						font-family: var(--font-interface);
						position: absolute;
						top: 0;
						right: 0;
						display: none;
		
						&:hover
						{
							background-color: var(--interactive-normal);
						}
					}
		
					&:hover .copy-code-button
					{
						display: block;
					}
				}
		
				code:not([class]):not([lang]) 
				{
					color: var(--code-normal);
					font-family: var(--font-monospace);
					background-color: var(--code-background);
					border-radius: var(--radius-s);
					font-size: var(--code-size);
					padding: 0.1em 0.25em;
		
					background: none;
					word-wrap: break-word;
		
					word-break: normal;
					text-align: left;
					word-spacing: normal;
					
					-webkit-hyphens: none;
					-moz-hyphens: none;
					-ms-hyphens: none;
					hyphens: none;
					
					font-family: var(--font-monospace);
					line-height: var(--line-height-normal);
				}
			}
		}

		.ow-message-utility-bar
		{
			display: flex;
			gap: 5px;

			.ow-btn
			{
				all: unset;
				padding: 5px;
				border-radius: 5px;

				.ow-icon
				{
					svg
					{
						width: 16px;
						height: 16px;
					}
				}

				&:hover
				{
					background-color: var(--background-modifier-hover);
				}
			}

			.ow-branch-navigation
			{
				display: flex;
				align-items: center;
				gap: 5px;

				.ow-branch-index 
				{
					line-height: 26px;
					font-size: var(--font-ui-small);
					font-family: var(--font-monospace);
				}
			}

			.ow-user-actions
			{
				display: flex;
				gap: 5px;
				opacity: 0;
			}
		}

		&.assistant 
		{
			flex-direction: column;
			align-items: flex-start;

			.ow-message
			{
				.ow-openai-icon
				{
					align-self: flex-start;
				}

				.ow-message-content
				{
					display: flex;
					gap: 10px;
					max-width: 100%;
					background-color: var(--interactive-normal);
				}
			}

			.ow-message-utility-bar 
			{
				justify-content: flex-start;
				width: 100%;
			}

			&:hover
			{
				.ow-user-actions 
				{
					opacity: 1;
				}
			}
		}

		&.user 
		{
			flex-direction: column;
			align-items: flex-end;

			.ow-message
			{
				gap: 5px;
				flex-direction: row-reverse;
				align-items: start;

				.ow-message-content 
				{
					max-width: 85%;
					background-color: var(--interactive-accent);
					align-self: flex-end;
				}

				.ow-user-actions
				{
					display: flex;
					gap: 5px;
					opacity: 0;
	
					.ow-btn.edit
					{
						all: unset;
						padding: 8px;
						border-radius: 50%;
	
						&:hover
						{
							background-color: var(--background-modifier-hover);
						}

						svg
						{
							stroke-width: 3;
							width: 12px;
							height: 12px;
						}
					}
				}
			}

			.ow-message-utility-bar 
			{
				justify-content: flex-end;
			}

			&.editing
			{
				width: 100%;
				
				.ow-message
				{
					width: 100%;

					.ow-message-content 
					{
						max-width: 100%;
						width: 100%;

						textarea
						{
							all: unset;
							width: 100%;
							resize: none;
							line-height: 14px;
							font-size: 14px;
							white-space: pre-wrap;
							overflow-wrap: break-word;
						}
					}
				}
			}

			&:hover
			{
				.ow-user-actions 
				{
					opacity: 1;
				}
			}
		}

		&.latest
		{
			padding-bottom: 5px;

			.ow-user-actions 
			{
				opacity: 1;
			}
		}
	}
}
