.tabs-manager 
{
	.chat-view
	{
		display: grid;
		grid-template-rows: auto 1fr auto;
		height: 100%;
		overflow-y: auto;

		.header
		{
			padding: var(--padding-sm) var(--padding-lg);
			background-color: var(--background-secondary);

			.tool-bar
			{
				display: grid;
				grid-template-columns: auto 1fr;
				gap: var(--grid-gap-md);

				.btn-back
				{
					align-self: center;
					all: unset;
					display: grid;
					padding: var(--padding-xs);
					border-radius: 5px;
					box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
					background-color: var(--background-modifier-hover);
					
					cursor: pointer;
	
					svg
					{
						place-self: center;
						width: var(--svg-size-sm);
						height: var(--svg-size-sm);
						aspect-ratio: 1/1;
						color: var(--icon-color);
					}
				}

				.title
				{
					align-self: center;
					font-size: var(--padding-lg);
					font-weight: var(--font-medium);
				}
			}
		}

		.conversation-history 
		{
			display: grid;
			grid-auto-rows: min-content;
			align-content: start;
			gap: var(--grid-gap-md);
			overflow-y: auto;
			padding: var(--padding-sm) var(--padding-lg);
			background: var(--background-secondary);

			.message-bubble 
			{
				user-select: text;
				font-size: var(--font-size-sm);
				display: grid;
				grid-template-rows: auto auto;
				padding: var(--padding-md);
				max-width: 95%;
				border-radius: 10px;
				border: 1px solid var(--prompt-border-color);
				box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

				&.message-user 
				{
					justify-self: end;
					background-color: var(--interactive-accent);
					color: #ffffff;
				}

				&.message-assistant 
				{
					justify-self: start;
					background-color: var(--tab-container-background);
				}

				.message-content 
				{
					word-wrap: break-word;
				}

				.timestamp 
				{
					display: none;
				}
			}
		}

		.input-area
		{
			padding: var(--padding-lg) var(--padding-lg);
			padding-bottom: 37px;

			.input-form
			{
				display: grid;
				grid-template-columns: auto 1fr;
				gap: var(--grid-gap-md);

				.btn-clean
				{
					all: unset;
					display: grid;
					align-self: end !important;
					height: 40px;
					width: 40px;
					border-radius: 50%;
					background-color: var(--interactive-accent);
					border: 1px solid var(--prompt-border-color);
					box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
					color: #ffffff;

					cursor: pointer;

					svg
					{
						place-self: center;
						width:  var(--svg-size-md);
						height: var(--svg-size-md);
						aspect-ratio: 1/1;
					}

					grid-column: 1;
					grid-row: 1;
					z-index: 1;
				}

				.chat-box
				{
					display: grid;
					grid-template-rows: 1fr auto;
					gap: 2.5px;
					background-color: var(--tab-container-background);
					border: 1px solid var(--prompt-border-color);
					box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;	
					border-radius: 20px;
					padding: var(--padding-lg);

					&:hover
					{
						grid-column: 1 / 3;
						grid-row: 1;
						z-index: 99;
						height: 150px;
					}

					.input
					{
						display: grid;
						grid-template-columns: 1fr auto;

						textarea
						{
							all: unset;
							width: 100%;
							height: 100%;
							resize: none;
							white-space: pre-wrap; /* CSS3 */
							white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
							white-space: -pre-wrap; /* Opera 4-6 */
							white-space: -o-pre-wrap; /* Opera 7 */
							overflow-wrap: break-word; /* Apply line breaks at word boundaries */
							word-wrap: break-word; /* For older browsers */
						}
	
						.btn-submit
						{
							all: unset;
							align-self: start;
							cursor: pointer;
	
							svg
							{
								width:  var(--svg-size-sm);
								height: var(--svg-size-sm);
								aspect-ratio: 1/1;
								color: var(--icon-color);
							}
						}
					}

					.info-bar
					{
						display: grid;
						grid-template-columns: 1fr auto;

						span
						{
							color: var(--nav-item-color);
							font-size: var(--font-size-sm);
						}

						.pin-chat-box
						{
							all: unset;
							cursor: pointer;

							svg
							{
								transform: rotate(45deg);
								width:  var(--svg-size-sm);
								height: var(--svg-size-sm);
								aspect-ratio: 1/1;
								color: var(--icon-color);
								opacity: .5;
							}
						}
					}
				}
			}
		}
	}
}
