.ow-conversation
{
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: 
    "header"
    "dialogue"
    "input"
    "settings";
    position: relative;
	gap: 10px;
	height: calc(100vh - 40px - 32px);
	overflow-y: auto;

	.ow-conversation-dialogue
	{
		grid-area: dialogue;
		display: grid;
		grid-auto-rows: min-content;
		gap: 15px;
		overflow-y: auto;

		&.ow-context
		{
			.ow-message-bubble
			{
				opacity: .5;

				&.ow-remove-context
				{
					opacity: 1 !important;
				}
			}
		}

		.ow-message-empty-dialogue
		{
			width: 100%;
			display: grid;
			gap: 25px;
			margin-top: 30px;

			.ow-change-engine
			{
				justify-self: center;
				display: flex;

				background-color: var(--interactive-normal);
				box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;	
				padding: 3.5px;
				border-radius: 10px;	

				.ow-btn-change-model
				{
					all: unset;
					padding: 8.5px 21px;
					border-radius: 10px;
					display: flex;
					gap: 5px;

					.ow-icon
					{
						display: grid;
						align-self: center;

						svg
						{
							place-self: center;
							width: 16px;
							height: 16px;
							color: var(--text-muted);
							fill: var(--text-muted);
						}
					}

					.ow-engine-wrapper
					{
						display: flex;
						gap: 5px;

						span
						{
							align-self: center;
							color: var(--text-muted);
							font-size: 13px;
						}

						.ow-btn-show-info
						{
							all: unset;
							display: none;
							align-self: center;
							border-radius: 2.5px;

							&:hover
							{
								background-color: var(--background-modifier-hover);	
							}

							svg
							{
								place-self: center;
								width: 16px;
								height: 16px;
								color: var(--icon-color) !important;
							}
						}
					}

					&.ow-active
					{
						background-color: var(--background-primary);
						border: 1px solid var(--prompt-border-color);
						padding: 7.5px 20px;

						.ow-icon
						{
							svg
							{
								color: var(--interactive-accent);
								fill: var(--interactive-accent);
							}
						}

						.ow-engine-wrapper
						{
							span
							{
								color: var(--text-normal);
							}
	
							.ow-btn-show-info
							{
								display: grid;
							}
						}
					}
				}

				&.ow-mode-creative
				{
					.ow-btn-change-model
					{
						&.ow-active
						{
							.ow-icon
							{
								svg
								{
									color: var(--color-pink);
									fill: var(--color-pink);
								}
							}
						}
					}
				}

				&.ow-mode-balanced
				{
					.ow-btn-change-model
					{
						&.ow-active
						{
							.ow-icon
							{
								svg
								{
									color: var(--interactive-accent);
									fill: var(--interactive-accent);
								}
							}
						}
					}
				}

				&.ow-mode-precise
				{
					.ow-btn-change-model
					{
						&.ow-active
						{
							.ow-icon
							{
								svg
								{
									color: var(--color-cyan);
									fill: var(--color-cyan);
								}
							}
						}
					}
				}
			}

			.ow-engine-info
			{
				justify-self: center;
				display: grid;
				gap: 10px;
				opacity: .75;
				max-width: 350px;

				background-color: var(--interactive-normal);
				padding: 7.5px;
				border: 1px solid var(--prompt-border-color);
				border-radius: 10px;
				box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;

				.ow-info-text
				{
					display: grid;
					gap: 10px;
					font-size: 13px;

					p
					{
						padding: 0px;
						margin: 0px;

						&.chat-gpt-info
						{
							color: var(--text-muted);
						}
					}

					&.ow-importanr
					{
						p
						{
							color: var(--color-red);
						}
					}
				}

				.ow-efficiency-graph
				{
					display: grid;
					padding: 10px;
					background-color: var(--background-primary);
					border-radius: 5px;
					gap: 10px;

					.ow-efficiency-row
					{
						display: grid;
						grid-template-columns: auto 1fr;
						gap: 20px;

						.ow-row-title
						{
							justify-self: start;
							font-size: 14px;
							color: var(--text-muted);
							text-transform: uppercase;
						}

						.ow-efficiency-stats
						{
							justify-self: end;
							align-self: center;
							display: flex;
							gap: 5px;

							.ow-stat-point
							{
								padding: 3.5px 12px;
								background-color: var(--text-muted);
								border-radius: 10px;

								&.ow-active
								{
									background-color: var(--interactive-accent);	
								}
							}
						}
					}
				}

				.ow-list-info
				{
					display: grid;
					gap: 3px;
					
					.ow-list-row
					{
						display: grid;
						grid-template-columns: repeat(3, 1fr);
						gap: 5px;
						
						.ow-row-title
						{
							font-size: 13px;
							font-family: monospace;
						}

						.ow-info
						{
							font-size: 13px;
							font-family: monospace;
						}

						&.ow-header
						{
							padding-bottom: 2.5px;
							margin-bottom: 2.5px;
							border-bottom: 1px solid var(--prompt-border-color);
						}
					}
				}	
			}

			.ow-change-mode
			{
				display: grid;
				gap: 10px;
				margin-top: 200px;

				&.showConversationEngineInfoEnabled
				{
					margin-top: 0px;
				}

				.ow-title
				{
					justify-self: center;
					font-size: 13px;
				}

				.ow-conversation-modes
				{
					justify-self: center;
					display: grid;
					gap: 10px;

					.ow-pinned-modes
					{
						justify-self: center;
						display: flex;
						gap: 5px;
	
						background-color: var(--interactive-normal);
						box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
						padding: 3.5px;
						border: 1px solid var(--prompt-border-color);
						border-radius: 5px;
	
						.ow-mode-wrapper
						{
							all: unset;
							display: grid;
							gap: 2.5px;
							padding: 7px 20px;
							border-radius: 5px;
	
							background-color: var(--ui2);
	
							&.ow-mode-creative
							{
								&.active
								{
									background-color: var(--color-pink);
								}
							}
	
							&.ow-mode-balanced
							{
								&.active
								{
									background-color: var(--interactive-accent);
								}
							}
	
							&.ow-mode-precise
							{
								&.active
								{
									background-color: var(--color-cyan);
								}
							}
	
							.ow-more
							{
								text-align: center;
								font-size: 11px;
								line-height: 1em;
							}
	
							.ow-mode
							{
								font-size: 13px;
								line-height: 1em;
								font-weight: 500;
							}
						}
					}

					.ow-custom-mode-selection
					{
						display: grid;
						grid-template-columns: auto 1fr auto;
						gap: 5px;

						div
						{
							display: flex;
							gap: 2.5px;
							align-self: center;
							background-color: var(--interactive-normal);
							padding: calc((30px - 18.9px) / 2);
							border-radius: var(--input-radius);
							border: 1px solid var(--prompt-border-color);
							padding-left: 10px;
							padding-right: 10px;

							svg
							{
								align-self: center;
								width: var(--font-ui-small);
								height: var(--font-ui-small);
							}
							
							span
							{
								align-self: center;
								font-size: var(--font-ui-small);
							}
						}

						select
						{
							align-self: center;
							width: 100%;
							border: 1px solid var(--prompt-border-color);
							box-shadow: none;
							font-size: 13px !important;
						}

						select:focus, .dropdown:focus
						{
							box-shadow: none;
						}

						button
						{
							all: unset;
							align-self: center;
							display: grid;
							padding: 8px;
							border-radius: 5px;

							background-color: var(--background-modifier-hover);
							border: 1px solid var(--prompt-border-color);

							svg
							{
								align-self: center;
								width: 13px;
								height: 13px;
							}
						}
					}
				}
			}
		}
	}	
}
