.home-page
{
	display: grid;
	grid-template-rows: auto 1fr;

	.header
	{
		display: grid;
		grid-template-rows: 1fr;
		gap: var(--grid-gap-sm);
		position: sticky;
		top: 0;
		z-index: 99;
		padding: var(--padding-sm) var(--padding-lg);
		background-color: var(--background-secondary);

		.tool-bar
		{
			display: grid;
			grid-template-columns: 1fr auto;
			gap: var(--grid-gap-md);
	
			.title
			{
				align-self: center;
				display: grid;
				grid-template-columns: auto 1fr;
				gap: var(--grid-gap-md);
				place-items: center;
				
				font-size: var(--padding-lg);
				font-weight: var(--font-medium);

				svg
				{
					width:  var(--svg-size-sm);
					height: var(--svg-size-sm);
					aspect-ratio: 1/1;
					display: none;
				}
	
				span
				{
					justify-self: start;
				}
			}
	
			.btn-new-chat
			{
				all: unset;
				cursor: pointer;
				display: grid;
				border-radius: 5px;
				padding: var(--padding-xs);

				&:hover
				{
					background-color: var(--background-modifier-hover);
				}

				svg
				{
					place-self: center;
					width:  var(--svg-size-sm);
					height: var(--svg-size-sm);
					aspect-ratio: 1/1;
					color: var(--icon-color);
				}
			}
		}
	
		.info-bar
		{
			.chat-count
			{
				font-size: var(--font-size-sm);
				color: var(--nav-item-color);
				opacity: var(--text-opacity);
			}
		}
	}

	.chat-history
	{
		display: grid;
		align-content: start;
		padding: var(--padding-sm) var(--padding-lg);
		gap: var(--grid-gap-md);
		background: var(--background-secondary);

		.history-list-item
		{
			display: grid;
			grid-template-columns: auto 1fr auto;
			gap: 10px;

			background-color: var(--tab-container-background);
			border: 1px solid var(--prompt-border-color);
			box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

			padding: var(--padding-xs) var(--padding-md);
			border-radius: 5px;

			svg
			{
				align-self: center;
				width:  var(--svg-size-md);
				height: var(--svg-size-md);
				aspect-ratio: 1/1;
				color: var(--icon-color);
			}

			.info
			{
				display: grid;
				grid-template-columns: auto;

				span
				{
					&.title
					{
						color: var(--nav-item-color);
						font-size: var(--font-size-sm);
						font-weight: var(--font-medium);
					}
	
					&.timestamp
					{
						font-size: var(--font-size-xs);
						opacity: var(--text-opacity);
					}	
				}
			}

			.item-actions
			{
				display: flex;

				.messaje-count
				{
					place-self: center;
					font-size: var(--font-size-sm);
					opacity: var(--text-opacity) !important;
					font-weight: var(--font-medium);
				}	

				.actions
				{
					display: none;
					gap: var(--grid-gap-sm);

					.delete-confirmation-dialog
					{
						display: flex;
						gap: var(--grid-gap-sm);

						.btn-cancel
						{
							all: unset;
							display: grid;
							cursor: pointer;
	
							svg
							{
								place-items: center;
								width: var(--svg-size-xs) !important;
								aspect-ratio: 1/1;
								color: var(--icon-color);
								color: var(--color-green);
							}
						}

						.btn-confirm
						{
							all: unset;
							display: grid;
							cursor: pointer;
	
							svg
							{
								place-items: center;
								width: var(--svg-size-xs) !important;
								aspect-ratio: 1/1;
								color: var(--color-red);
							}
						}
					}

					.btn-delete-conversation
					{
						all: unset;
						display: grid;
						cursor: pointer;

						svg
						{
							place-items: center;
							width: var(--svg-size-xs) !important;
							aspect-ratio: 1/1;
							color: var(--icon-color);
						}
					}

					.btn-open-chat
					{
						all: unset;
						display: grid;
						cursor: pointer;

						svg
						{
							place-items: center;
							width: var(--svg-size-xs) !important;
							aspect-ratio: 1/1;
							color: var(--icon-color);
						}
					}
				}
			}

			&:hover
			{
				.messaje-count
				{
					display: none;
				}

				.actions
				{
					display: flex;
				}
			}
		}
	}
}
