.weaver-view {
	.home-page
	{
		padding-bottom: 37px;

		.info-box
		{
			padding: 12px;
		}
	}

	.ow-thread-header
	{
		display: grid;
		grid-template-columns: auto 1fr;
		padding: var(--padding-sm) var(--padding-lg);
		padding-bottom: 0px;
		gap: 10px;

		.ow-thread-icon
		{
			align-self: start;
			display: grid;
			grid-template-rows: auto 1fr;
			align-self: stretch;
			gap: 5px;

			.ow-icon
			{
				align-self: start;
				display: grid;
				background-color: var(--background-modifier-hover);
				padding: calc(var(--padding-sm) - 3px);
				border-radius: 3.5px;
				box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
	
				svg
				{
					align-self: center;
					place-self: center;
					width: var(--svg-size-sm);
					height: var(--svg-size-sm);
					color: var(--icon-color);
					z-index: 1;
				}
			}

			.ow-vertical-line
			{
				justify-self: center;
				border-left: 2px solid var(--icon-color);
				height: 100%;
				// display: none;
			}

			.ow-icon-dots
			{
				place-self: center;
				display: grid;
				padding: calc(var(--padding-sm) - 3px);

				svg
				{
					align-self: center;
					place-self: center;
					width: var(--svg-size-sm);
					height: var(--svg-size-sm);
					color: var(--icon-color);
					z-index: 1;
				}
			}
		}

		.ow-wrapper
		{
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			gap: 2px;
			padding: 10px;

			.ow-header
			{
				display: grid;
	
				.ow-title-bar
				{
					display: grid;
					grid-template-columns: 1fr auto;
					gap: 5px;
					
					.ow-title
					{
						display: grid;
						grid-template-columns: 1fr;

						.title-wrapper
						{
							align-self: center;
							display: grid;
							grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							color: var(--nav-item-color);
							width: 100%;	
						}

						.count-conversations
						{
							font-size: 13px;
							color: var(--text-faint);
						}
					}

					.ow-actions
					{
					}
				}
		
				.ow-tool-bar
				{
					display: grid;
					padding-top: 5px;

					.ow-btn-new-chat
					{
						all: unset;
						justify-self: start;
						display: flex;
						gap: 5px;
						cursor: var(--cursor);
						border-radius: 5px;
						font-size: 13px;
						color: var(--text-normal);
						opacity: var(--text-opacity);

						&:hover
						{
							// background-color: var(--background-modifier-hover);
							color: var(--text-normal);
							opacity: 1;
							
							svg
							{
								opacity: 1;
							}
						}
		
						svg
						{
							place-self: center;
							width: 14px;
							height: 14px;
							color: var(--text-normal);
						}
					}
				}
			}
			
			.ow-thread-banner
			{
				width: 100%;
				max-height: 200px;
				padding-top: 10px;

				img
				{
					position: relative;
					object-fit: cover;
					max-width: none;
					height: 100%;
					width: 100%;
					cursor: var(--cursor);
					border-radius: 10px;
					box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
				}
			}

			.ow-thread-description
			{
				padding: 10px 0px;
				font-size: 13px;
				opacity: .75;
			}

			&:hover
			{
				background-color: var(--history-list-item-color);
				border-radius: 5px;
				box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

				.ow-thread-description
				{
					opacity: 1;
				}
			}
		}
	}

	.ow-chain-history
	{
		display: grid;
		gap: 5px;
		padding: var(--padding-sm) var(--padding-lg);
		padding-top: 0px;
		margin-top: 5px;

		.ow-history-list-item
		{
			display: grid;
			grid-template-columns: auto 1fr;
			gap: 10px;

			.ow-icon
			{
				align-self: start;
				display: grid;
				background-color: var(--background-modifier-hover);
				padding: calc(var(--padding-sm) - 3px);
				border-radius: 3.5px;
				box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
	
				svg
				{
					align-self: center;
					place-self: center;
					width: var(--svg-size-sm);
					height: var(--svg-size-sm);
					color: var(--icon-color);
					z-index: 1;
				}	
			}

			.ow-chat-icon
			{
				align-self: start;
				display: grid;
				grid-template-rows: auto 1fr;
				align-self: stretch;
				gap: 5px;

				.ow-vertical-line
				{
					justify-self: center;
					border-left: 2px solid var(--icon-color);
					height: 100%;
				}
			}

			.ow-list-item
			{
				padding: 10px;

				&:hover .ow-info .ow-title
				{
					.ow-actions
					{
						display: flex;
					}

					.ow-msg-count
					{
						display: none;
					}
				}

				.ow-info
				{
					display: grid;

					.ow-title
					{
						display: grid;
						grid-template-columns: 1fr auto;

						span
						{
							align-self: center;
							display: grid;
							grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							color: var(--nav-item-color);
							width: 100%;
						}

						.ow-actions
						{
							display: none;

							&.show
							{
								display: flex;
							}		

							.btn-delete-conversation
							{
								all: unset;
								display: grid;
								cursor: var(--cursor);
								align-self: center;
								padding: var(--padding-xs);
								border-radius: 3.5px;
		
								&:hover
								{
									background-color: var(--background-modifier-hover);
								}
		
								svg
								{
									place-items: center;
									width: var(--svg-size-xs) !important;
									height: var(--svg-size-xs) !important;
									color: var(--icon-color);
								}
							}

							.delete-confirmation-dialog
							{
								display: flex;
								align-self: center;
								// gap: var(--grid-gap-sm);
		
								.btn-cancel
								{
									all: unset;
									display: grid;
									cursor: var(--cursor);
									align-self: center;
									padding: var(--padding-xs);
									border-radius: 3.5px;
		
									&:hover
									{
										background-color: var(--background-modifier-hover);
									}
		
									svg
									{
										place-items: center;
										width: var(--svg-size-xs);
										height: var(--svg-size-xs);
										color: var(--color-green);
									}
								}
		
								.btn-confirm
								{
									all: unset;
									display: grid;
									cursor: var(--cursor);
									align-self: center;
									padding: var(--padding-xs);
									border-radius: 3.5px;
		
									&:hover
									{
										background-color: var(--background-modifier-hover);
									}
		
									svg
									{
										place-items: center;
										width: var(--svg-size-xs) !important;
										height: var(--svg-size-xs) !important;
										color: var(--color-red);
									}
								}
							}

							.btn-open-chat
							{
								all: unset;
								display: grid;
								cursor: var(--cursor);
								align-self: center;
								padding: var(--padding-xs);
								border-radius: 3.5px;
		
								&:hover
								{
									background-color: var(--background-modifier-hover);
								}
		
								svg
								{
									place-items: center;
									width: var(--svg-size-xs) !important;
									height: var(--svg-size-xs) !important;
									color: var(--icon-color);
								}
							}
						}

						.ow-msg-count
						{
							place-self: center;
							font-size: var(--font-size-xs);
							opacity: var(--text-opacity) !important;
							font-weight: var(--font-medium);

							&.show
							{
								display: none;
							}	
						}
					}

					.creation-date
					{
						align-self: start;
						font-size: calc(var(--font-size-sm) - 1px);
						color: var(--nav-item-color);
						text-transform: lowercase;
						font-weight: bold;
					}
				}

				.ow-chat-description
				{
					padding: 10px 0px;
					font-size: 13px;
					opacity: .75;

					.description-content
					{		
						user-select: text;

						img
						{
							position: relative;
							object-fit: cover;
							max-width: none;
							max-height: 300px;
							height: 100%;
							width: 100%;
							border-radius: 2.5px;
							cursor: var(--cursor);
						}

						p
						{
							&:only-child
							{
								margin: 0px;
							}

							&:first-child
							{
								margin-top: 0px;
							}

							&:last-child
							{
								margin-bottom: 0px;
							}
						}

						table
						{
							border-collapse: collapse;
							width: 100%;

							th
							{
								border: 1px solid var(--prompt-border-color);
								padding: 5px;
								font-weight: bold;
								text-align: left;
							}
							
							td
							{
								padding: 5px;
								border: 1px solid var(--prompt-border-color);
							}
						}

						// Problem with codeblocks excedding the limit of the message boubble.
						pre
						{
							margin: 0px;
							border-radius: 5px;
							position: relative;

							.copy-code-button
							{
								margin: 6px;
								padding: 6px 8px;
								height: auto;
								background-color: transparent;
								box-shadow: none;
								color: var(--text-muted);
								font-size: var(--font-ui-smaller);
								font-family: var(--font-interface);
								position: absolute;
								top: 0;
								right: 0;
								display: none;

								&:hover
								{
									background-color: var(--interactive-normal);
								}
							}

							// &:hover .copy-code-button
							// {
							// 	display: block;
							// }
						}

						code:not([class]):not([lang]) 
						{
							color: var(--code-normal);
							font-family: var(--font-monospace);
							background-color: var(--code-background);
							border-radius: var(--radius-s);
							font-size: var(--code-size);
							padding: 0.1em 0.25em;
						}

						blockquote
						{
							color: var(--blockquote-color);
							margin: 0px !important;
							padding: 0px 10px !important;
							border-left: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
						}

						ul
						{
							padding-left: 20px !important;
						}

						ol
						{
							padding-left: 20px !important;
						}
					}

					textarea
					{
						all: unset;
						width: 100%;
						height: 100%;
						resize: none;
						white-space: pre-wrap; /* CSS3 */
						white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
						white-space: -pre-wrap; /* Opera 4-6 */
						white-space: -o-pre-wrap; /* Opera 7 */
						overflow-wrap: break-word; /* Apply line breaks at word boundaries */
						word-wrap: break-word; /* For older browsers */
					}
				}

				&:hover
				{
					background-color: var(--history-list-item-color);
					border-radius: 5px;
					box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

					.ow-chat-description
					{
						opacity: 1;
					}
				}
			}
		}
	}
}
