:root
{
	--svg-size-xs: 13px;
	--svg-size-sm: 18px;
	--svg-size-md: 21px;
	--svg-size-lg: 24px;
}

:root
{
	--padding-xs: 5px;
	--padding-sm: 8px;
	--padding-md: 10px;
	--padding-lg: 16px;
}

:root
{
	--grid-gap-sm: 5px;
	--grid-gap-md: 10px;
}

:root
{
	--text-opacity: .75;
}

:root
{
	--font-size-xs: 11px;
	--font-size-sm: 13px;
	--font-size-md: 16px;
}
