.ow-selected-text
{
	display: grid;
	gap: 10px;

	border: 1px solid var(--interactive-accent);
	background-color: var(--interactive-normal);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	padding: 16px;
	border-radius: 10px;
	margin-bottom: 10px;

	.ow-title
	{
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		font-size: 16px;
		font-weight: bold;
		gap: 5px;
	
		.ow-selected-text-info
		{
			display: flex;
			gap: 5px;
			font-size: 14px;
			font-weight: normal;
	
			.ow-selected-text-char-count
			{
				padding: 2px 5px;
				border-radius: 5px;
				background-color: var(--background-secondary);
				color: var(--text-muted);
				box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
			}
	
			.ow-token-count
			{
				padding: 2px 5px;
				border-radius: 5px;
				background-color: hsla(130, 91%, 78%, .4);; 
				color: var(--text-muted);
				box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
			}
		}
	}

	.ow-selected-text-content
	{
		max-height: 200px;
		overflow-y: scroll;
		color: var(--text-muted);
	}

	.ow-user-actions
	{
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(2, 1fr);
	}
}
