.ow-threads
{
	display: grid;
	gap: 10px;
	padding: var(--padding-sm) var(--padding-lg);
	
	.header
	{
		display: grid;
		grid-template-columns: 1fr auto;

		.title
		{
			padding-left: 10px;

			.wrapper
			{
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
				color: var(--nav-item-color);
			}

			.threads-count
			{
				font-size: 13px;
				color: var(--text-faint);
			}
		}

		.actions
		{
			.ow-btn-create-new-thread
			{
				all: unset;
				cursor: var(--cursor);
				display: grid;
				border-radius: 5px;
				padding: var(--padding-xs);

				&:hover
				{
					background-color: var(--background-modifier-hover);
				}

				svg
				{
					place-self: center;
					width: var(--svg-size-sm);
					height: var(--svg-size-sm);
					color: var(--icon-color);
				}
			}
		}
	}

	.ow-threads-list
	{
		display: grid;

		.ow-thread-item
		{
			display: grid;
			padding-left: var(--padding-md);
			padding-right: var(--padding-xs);
			border-radius: 5px;

			&:hover
			{
				background-color: var(--nav-item-background-active);
				box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
			}

			&:hover .ow-title
			{
				.ow-actions
				{
					display: flex;
				}
	
				.ow-msg-count
				{
					display: none;
				}
			}
	
			.ow-title
			{
				display: grid;
				grid-template-columns: 1fr auto;
	
				.content
				{
					display: flex;
					gap: 5px;

					.icon
					{
						all: unset;
						display: grid;
						cursor: var(--cursor);
						align-self: center;
						padding: var(--padding-xs);
						border-radius: 3.5px;
	
						&:hover
						{
							// background-color: var(--background-modifier-hover);
						}
	
						svg
						{
							place-items: center;
							width: var(--svg-size-xs) !important;
							height: var(--svg-size-xs) !important;
							color: var(--icon-color);
						}
					}

					.title-wrapper
					{
						display: grid;
						grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						font-size: 13px;
						padding: var(--padding-xs);
						color: var(--nav-item-color);
					}
				}
	
				.ow-actions
				{
					display: none;
					
					&.show
					{
						display: flex;
					}

					.btn-delete-conversation
					{
						all: unset;
						display: grid;
						cursor: var(--cursor);
						align-self: center;
						padding: var(--padding-xs);
						border-radius: 3.5px;
	
						&:hover
						{
							background-color: var(--background-modifier-hover);
						}
	
						svg
						{
							place-items: center;
							width: var(--svg-size-xs) !important;
							height: var(--svg-size-xs) !important;
							color: var(--icon-color);
						}
					}
	
					.delete-confirmation-dialog
					{
						display: flex;
						align-self: center;
						// gap: var(--grid-gap-sm);
	
						.btn-cancel
						{
							all: unset;
							display: grid;
							cursor: var(--cursor);
							align-self: center;
							padding: var(--padding-xs);
							border-radius: 3.5px;
	
							&:hover
							{
								background-color: var(--background-modifier-hover);
							}
	
							svg
							{
								place-items: center;
								width: var(--svg-size-xs);
								height: var(--svg-size-xs);
								color: var(--color-green);
							}
						}
	
						.btn-confirm
						{
							all: unset;
							display: grid;
							cursor: var(--cursor);
							align-self: center;
							padding: var(--padding-xs);
							border-radius: 3.5px;
	
							&:hover
							{
								background-color: var(--background-modifier-hover);
							}
	
							svg
							{
								place-items: center;
								width: var(--svg-size-xs) !important;
								height: var(--svg-size-xs) !important;
								color: var(--color-red);
							}
						}
					}
	
					.btn-open-chat
					{
						all: unset;
						display: grid;
						cursor: var(--cursor);
						align-self: center;
						padding: var(--padding-xs);
						border-radius: 3.5px;
	
						&:hover
						{
							background-color: var(--background-modifier-hover);
						}
	
						svg
						{
							place-items: center;
							width: var(--svg-size-xs) !important;
							height: var(--svg-size-xs) !important;
							color: var(--icon-color);
						}
					}
				}
	
				.ow-msg-count
				{
					&.show
					{
						display: none;
					}

					place-self: center;
					font-size: var(--font-size-xs);
					opacity: var(--text-opacity) !important;
					font-weight: var(--font-medium);
					padding: var(--padding-xs);
					color: var(--text-faint);
					padding: var(--padding-xs);
				}
			}
		}
	}
}
